# Part 4 - Enriching Data Collections and Spatially Enabled Dataframe

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Collections-and-GeoEnrichment-coverage" data-toc-modified-id="Data-Collections-and-GeoEnrichment-coverage-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Collections and GeoEnrichment coverage</a></span><ul class="toc-item"><li><span><a href="#List-Countries-with-GeoEnrichment-Data" data-toc-modified-id="List-Countries-with-GeoEnrichment-Data-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>List Countries with GeoEnrichment Data</a></span></li><li><span><a href="#Data-Collections-for-U.S." data-toc-modified-id="Data-Collections-for-U.S.-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Data Collections for U.S.</a></span><ul class="toc-item"><li><span><a href="#Unique-Data-Collections-for-U.S." data-toc-modified-id="Unique-Data-Collections-for-U.S.-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Unique Data Collections for U.S.</a></span></li><li><span><a href="#Data-Collections-by-Socio-demographic-Factors" data-toc-modified-id="Data-Collections-by-Socio-demographic-Factors-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Data Collections by Socio-demographic Factors</a></span></li><li><span><a href="#Analysis-variables-for-Data-Collections" data-toc-modified-id="Analysis-variables-for-Data-Collections-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Analysis variables for Data Collections</a></span></li></ul></li><li><span><a href="#Data-Collections-for-Another-Country" data-toc-modified-id="Data-Collections-for-Another-Country-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Data Collections for Another Country</a></span><ul class="toc-item"><li><span><a href="#Unique-Data-Collections-for-New-Zealand" data-toc-modified-id="Unique-Data-Collections-for-New-Zealand-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Unique Data Collections for New Zealand</a></span></li><li><span><a href="#Data-Collections-for-Socio-demographic-Factors" data-toc-modified-id="Data-Collections-for-Socio-demographic-Factors-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Data Collections for Socio-demographic Factors</a></span></li><li><span><a href="#Analysis-variables-for-Data-Collections" data-toc-modified-id="Analysis-variables-for-Data-Collections-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Analysis variables for Data Collections</a></span></li></ul></li><li><span><a href="#Perform-Enrichment-using-Data-Collections-and-Analysis-Variables" data-toc-modified-id="Perform-Enrichment-using-Data-Collections-and-Analysis-Variables-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Perform Enrichment using Data Collections and Analysis Variables</a></span><ul class="toc-item"><li><span><a href="#Enrich-using-Data-Collections" data-toc-modified-id="Enrich-using-Data-Collections-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Enrich using Data Collections</a></span></li><li><span><a href="#Enrich-using-Analysis-Variables" data-toc-modified-id="Enrich-using-Analysis-Variables-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Enrich using Analysis Variables</a></span></li></ul></li></ul></li><li><span><a href="#Enriching-Spatially-Enabled-Dataframes" data-toc-modified-id="Enriching-Spatially-Enabled-Dataframes-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Enriching Spatially Enabled Dataframes</a></span></li><li><span><a href="#Conclusion" data-toc-modified-id="Conclusion-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Conclusion</a></span></li></ul></div>

## Data Collections and GeoEnrichment coverage

As described earlier, a data collection is a preassembled list of attributes that will be used to enrich the input features. Collection attributes can describe various types of information, such as demographic characteristics and geographic context of the locations or areas submitted as input features. 

Some data collections (such as default) can be used in all supported countries. Other data collections may only be available in one or a collection of countries. [Data Browser](https://doc.arcgis.com/en/esri-demographics/data/data-browser.htm) can be used to examine the entire global listing of variables, and associated datasets for each country.

<div class="embed-container"><iframe frameborder="false" scrolling="no" width="800" height="600" marginheight="0" marginwidth="0" 
src="https://la.arcgis.com/databrowser/index.html"></iframe></div>

### List Countries with GeoEnrichment Data

The `get_countries()` method can be used to query the countries for which there is GeoEnrichment data. You get back a list of `Country` object. You can query the properties of each `Country` object. This list can also be viewed [here](https://developers.arcgis.com/rest/geoenrichment/api-reference/geoenrichment-coverage.htm).

In [1]:
# Import Libraries
from arcgis.gis import GIS
from arcgis.geoenrichment import *

In [2]:
# Create a GIS Connection
gis = GIS("https://datascienceqa.esri.com/portal", "portaladmin", "esri.agp", verify_cert=False)

In [14]:
countries = get_countries()
print("Number of countries for which GeoEnrichment data is available: " + str(len(countries)))

#print a few countries for a sample
countries[0:10]

Number of countries for which GeoEnrichment data is available: 136

[<Country name:Albania>,
 <Country name:Algeria>,
 <Country name:Andorra>,
 <Country name:Angola>,
 <Country name:Argentina>,
 <Country name:Armenia>,
 <Country name:Aruba>,
 <Country name:Australia>,
 <Country name:Austria>,
 <Country name:Azerbaijan>]

### Data Collections for U.S.

The `data_collections` property of a `Country` object lists its available data collections and analysis variables under each data collection as a Pandas dataframe.

The `Country` class can be used to discover the data collections for a country. When working with a particular country, you will find it convenient to get a reference to it using the `Country.get()` method.

In [6]:
# Get US as a country
usa = Country.get('US')
type(usa)

arcgis.geoenrichment.enrichment.Country

In [19]:
usa_df = usa.data_collections

# print a few rows of the DataFrame
usa_df.head()

,analysisVariable,alias,fieldCategory,vintage
dataCollectionID,,,,
1yearincrements,1yearincrements.AGE0_CY,2020 Population Age <1,2020 Age: 1 Year Increments (Esri),2020
1yearincrements,1yearincrements.AGE1_CY,2020 Population Age 1,2020 Age: 1 Year Increments (Esri),2020
1yearincrements,1yearincrements.AGE2_CY,2020 Population Age 2,2020 Age: 1 Year Increments (Esri),2020
1yearincrements,1yearincrements.AGE3_CY,2020 Population Age 3,2020 Age: 1 Year Increments (Esri),2020
1yearincrements,1yearincrements.AGE4_CY,2020 Population Age 4,2020 Age: 1 Year Increments (Esri),2020

In [20]:
usa_df.shape

(17608, 4)

#### Unique Data Collections for U.S.

Each data collection and analysis variable has a unique ID. When calling the `enrich()` method (explained earlier in this guide) these analysis variables can be passed in the `data_collections` and `analysis_variables` parameters.

As an example, here we see a subset of the data collections for US showing 2 different data collections and multiple analysis variables for each collection.

In [13]:
usa_df.iloc[500:600,:]

,analysisVariable,alias,fieldCategory,vintage
dataCollectionID,,,,
1yearincrements,1yearincrements.FAGE75_FY,2025 Females Age 75,2025 Age: 1 Year Increments (Esri),2025
1yearincrements,1yearincrements.FAGE76_FY,2025 Females Age 76,2025 Age: 1 Year Increments (Esri),2025
1yearincrements,1yearincrements.FAGE77_FY,2025 Females Age 77,2025 Age: 1 Year Increments (Esri),2025
1yearincrements,1yearincrements.FAGE78_FY,2025 Females Age 78,2025 Age: 1 Year Increments (Esri),2025
1yearincrements,1yearincrements.FAGE79_FY,2025 Females Age 79,2025 Age: 1 Year Increments (Esri),2025
...,...,...,...,...
5yearincrements,5yearincrements.MEDAGE_CY,2020 Median Age,2020 Age: 5 Year Increments (Esri),2020
5yearincrements,5yearincrements.MALES_CY,2020 Male Population,2020 Age: 5 Year Increments (Esri),2020
5yearincrements,5yearincrements.MALE0_CY,2020 Males Age 0-4,2020 Age: 5 Year Increments (Esri),2020
5yearincrements,5yearincrements.MALE5_CY,2020 Males Age 5-9,2020 Age: 5 Year Increments (Esri),2020
5yearincrements,5yearincrements.MALE10_CY,2020 Males Age 10-14,2020 Age: 5 Year Increments (Esri),2020

Let's get a list of unique data collections that are available for U.S.

In [82]:
list(usa_df.index.unique())

['1yearincrements',
 '5yearincrements',
 'ACS_Housing_Summary_rep',
 'ACS_Population_Summary_rep',
 'Age',
 'AgeDependency',
 'Age_50_Profile_rep',
 'Age_by_Sex_Profile_rep',
 'Age_by_Sex_by_Race_Profile_rep',
 'AtRisk',
 'AutomobilesAutomotiveProducts',
 'Automotive_Aftermarket_Expenditures_rep',
 'BabyProductsToysGames',
 'Business_Summary_rep',
 'CivicActivitiesPoliticalAffiliation',
 'ClothingShoesAccessories',
 'Community_Profile_rep',
 'DaytimePopulation',
 'Demographic_and_Income_Comparison_Profile_rep',
 'Demographic_and_Income_Profile_rep',
 'Disposable_Income_Profile_rep',
 'ElectronicsInternet',
 'Electronics_and_Internet_Market_Potential_rep',
 'EmploymentUnemployment',
 'Executive_Summary_rep',
 'Finances_Market_Potential_rep',
 'FinancialInsurance',
 'Financial_Expenditures_rep',
 'Generations',
 'Graphic_Profile_rep',
 'GroceryAlcoholicBeverages',
 'Health',
 'HealthPersonalCare',
 'HealthPersonalCareCEX',
 'Health_and_Beauty_Market_Potential_rep',
 'HistoricalHouseholds',
 'HistoricalHousing',
 'HistoricalPopulation',
 'HomeImprovementGardenLawn',
 'House_and_Home_Expenditures_rep',
 'HouseholdGoodsFurnitureAppliances',
 'Household_Budget_Expenditures_rep',
 'Household_Income_Profile_rep',
 'HouseholdsByIncome',
 'HousingHousehold',
 'Housing_Profile_rep',
 'Infrastructure',
 'InternetComputerUsage',
 'KeyGlobalFacts',
 'KeyUSFacts',
 'LandCover',
 'LandscapeFacts',
 'LeisureActivitiesLifestyle',
 'LifeInsurancePensions',
 'Market_Profile_rep',
 'MediaMagazinesNewspapers',
 'MediaRadioOtherAudio',
 'MediaTVViewing',
 'Medical_Expenditures_rep',
 'Net_Worth_Profile_rep',
 'OwnerRenter',
 'PetsPetProducts',
 'Pets_and_Products_Market_Potential_rep',
 'PhonesYellowPages',
 'Policy',
 'PsychographicsAdvertising',
 'PublicLands',
 'RaceAndEthnicity',
 'Recreation_Expenditures_rep',
 'Restaurant_Market_Potential_rep',
 'Retail_Goods_and_Services_Expenditures_rep',
 'Retail_MarketPlace_Profile_rep',
 'Retail_Market_Potential_rep',
 'Soils',
 'SpendingTotal',
 'Sports_and_Leisure_Market_Potential_rep',
 'TapestryHouseholdsProjections',
 'TapestryNEW',
 'Tapestry_Segmentation_Area_Profile_rep',
 'TravelCEX',
 'WaterWetlands',
 'Wealth',
 '_2010_Census_Profile_rep',
 'agebyracebysex',
 'basicFactsForMobileApps',
 'businesses',
 'classofworker',
 'clothing',
 'commute',
 'crime',
 'disability',
 'disposableincome',
 'education',
 'educationalattainment',
 'employees',
 'entertainment',
 'financial',
 'food',
 'foodstampsSNAP',
 'gender',
 'groupquarters',
 'healthinsurancecoverage',
 'heatingfuel',
 'hispanicorigin',
 'homevalue',
 'householdincome',
 'households',
 'householdsbyageofhouseholder',
 'householdsbyraceofhouseholder',
 'householdsbysize',
 'householdtotals',
 'householdtype',
 'housingbyageofhouseholder',
 'housingbyraceofhouseholder',
 'housingbysize',
 'housingcosts',
 'housingunittotals',
 'incomebyage',
 'industry',
 'industrybynaicscode',
 'industrybysiccode',
 'language',
 'lifemodegroupsNEW',
 'maritalstatustotals',
 'miscellaneous',
 'networth',
 'occupation',
 'population',
 'populationtotals',
 'presenceofchildren',
 'raceandhispanicorigin',
 'restaurants',
 'retailmarketplace',
 'sales',
 'schoolenrollment',
 'shopping',
 'spendingFactsForMobileApps',
 'sports',
 'tapestryadultsNEW',
 'tapestryhouseholdsNEW',
 'transportation',
 'travelMPI',
 'unitsinstructure',
 'urbanizationgroupsNEW',
 'vacant',
 'vehiclesavailable',
 'veterans',
 'women',
 'yearbuilt',
 'yearmovedin']

*United States has 150 unique data collections.*

Looking at `fieldCategory` is a great way to clearly understand what the data collection is about. However, to query a data collection its unique ID (`dataCollectionID`) must be used.

Let's look at the `fieldCategory` column for all data collections in US.

In [47]:
usa_df.fieldCategory.unique()

array(['2020 Age: 1 Year Increments (Esri)',
       '2025 Age: 1 Year Increments (Esri)',
       '2010 Age: 1 Year Increments (U.S. Census)',
       '2020 Age: 5 Year Increments (Esri)',
       '2025 Age: 5 Year Increments (Esri)',
       '2010 Age: 5 Year Increments (U.S. Census)',
       '2014-2018 Key Demographic Indicators (ACS)',
       '2014-2018 Mortgage Status (ACS)', '2014-2018 Contract Rent (ACS)',
       '2014-2018 Year Householder Moved In (ACS)',
       '2014-2018 Year Structure Built (ACS)',
       '2014-2018 School Enrollment (ACS)',
       '2014-2018 Language Spoken at Home (ACS)',
       '2014-2018 Journey to Work (ACS)',
       '2014-2018 Females by Age of Children and Employment Status (ACS)',
       '2014-2018 Ratio of Income to Poverty (ACS)',
       '2014-2018 Income (ACS)',
       '2014-2018 Veteran Status and Military Service (ACS)',
       '2014-2018 Disability Status (ACS)',
       '2014-2018 Health Insurance Coverage (ACS)',
       '2014-2018 Population 65+ by Relationship and Household Type (ACS)',
       '2014-2018 Households by Type and Size and Age (ACS)',
       '2014-2018 Gross Rent (ACS)', '2020 Age Dependency (Esri)',
       '2025 Age Dependency (Esri)', '2020 Income by Age (Esri)',
       '2025 Income by Age (Esri)',
       '2020 Race and Hispanic Origin (Esri)',
       '2025 Key Demographic Indicators (Esri)',
       '2010 Population (U.S. Census)', '2010 Households (U.S. Census)',
       '2014-2018 Poverty Status (ACS)',
       '2014-2018 Population by Language Spoken at Home (ACS)',
       '2014-2018 Household Income (ACS)',
       '2014-2018 Households by Vehicles Available (ACS)',
       '2014-2018 Vehicles Available (ACS)',
       '2020 Tapestry Market Segmentation (Households)',
       '2020 Key Demographic Indicators (Esri)', '2020 Income (Esri)',
       '2020 Pets & Products (Market Potential)',
       '2020 Automobiles & Other Vehicles (Market Potential)',
       '2020 Phones & Service (Market Potential)',
       '2020 Internet (Market Potential)',
       '2020 Media - Magazines & Newspapers (Market Potential)',
       '2020 Tapestry Market Segmentation (Adults)',
       '2020 Automotive Products & Maintenance (Market Potential)',
       '2020 Transportation - Local (Consumer Spending)',
       '2020 Baby Products (Market Potential)',
       '2020 Toys & Games (Market Potential)',
       '2020 Civic Activities & Political Affiliation (Market Potential)',
       '2020 Clothing & Accessories (Market Potential)',
       '2020 Shoes (Market Potential)', '2020 Home Value (Esri)',
       '2025 Race and Hispanic Origin (Esri)', '2025 Income (Esri)',
       '2025 Home Value (Esri)',
       '2010 Race and Hispanic Origin (U.S. Census)',
       '2010 Housing (U.S. Census)', '2020 Educational Attainment (Esri)',
       '2020 Marital Status (Esri)', '2020 Labor Force (Esri)',
       '2020 Apparel (Consumer Spending)',
       '2020 Education (Consumer Spending)',
       '2020 Entertainment/Recreation (Consumer Spending)',
       '2020 Health Care (Consumer Spending)',
       '2020 Household Goods (Consumer Spending)',
       '2020 Housing (Consumer Spending)',
       '2020 Miscellaneous Expenses (Consumer Spending)',
       '2020 Personal Care (Consumer Spending)',
       '2020 Total Expenditures (Consumer Spending)',
       '2020 Travel (Consumer Spending)',
       '2020 Daytime Population (Esri)', nan,
       '2020 Disposable Income by Age (Esri)',
       '2020 Electronics (Market Potential)',
       '2020 Finances (Market Potential)',
       '2020 Insurance (Market Potential)',
       '2020 Financial (Consumer Spending)',
       '2020 Population by Generation (Esri)',
       '2025 Population by Generation (Esri)',
       '2020 Beverage Consumption (Alcohol) (Market Potential)',
       '2020 Groceries (Market Potential)',
       '2020 Grocery Shopping (Market Potential)',
       '2025 Health Care (Consumer Spending)',
       '2020 Business Summary by SIC', '2020 Health (Market Potential)',
       '2020 Personal Care Products & Services (Market Potential)',
       '2020 Smoking (Market Potential)',
       '2025 Personal Care (Consumer Spending)',
       '2020 Household Time Series (Esri)',
       '2020 Housing Unit Time Series (Esri)',
       '2020 Population Time Series (Esri)',
       '2020 Garden/Lawn & Tools (Market Potential)',
       '2020 Home Improvement & Services (Market Potential)',
       '2020 Shopping (Market Potential)',
       '2020 Household Services (Consumer Spending)',
       '2020 Household Furnishings & Appliances (Market Potential)',
       '2020 Household Products (Market Potential)',
       '2020 Alcoholic Beverages (Consumer Spending)',
       '2020 Life Insurance/Pensions (Consumer Spending)',
       '2025 Housing (Consumer Spending)',
       '2025 Household Services (Consumer Spending)',
       '2025 Household Goods (Consumer Spending)',
       'Landscape Analyst Variables',
       '2014-2018 Computer and Internet Service (ACS)',
       'Key Demographic Indicators', 'Age: 5 Year Increments',
       '2000 Data in 2010 Geography (U.S. Census)',
       '2020 Books & Cards (Market Potential)',
       '2020 Leisure Activities/Lifestyle (Market Potential)',
       '2025 Life Insurance/Pensions (Consumer Spending)',
       '2020 Media - Radio & Other Audio (Market Potential)',
       '2020 Media - TV Viewing (Market Potential)',
       '2020 Net Worth (Esri)', '2020 Net Worth by Age (Esri)',
       '2020 Media - Yellow Pages (Market Potential)',
       '2020 Population (Esri)',
       '2020 Psychographics & Advertising (Market Potential)',
       '2020 Restaurants (Market Potential)',
       '2020 Food at Home - Bakery Products (Consumer Spending)',
       '2020 Food at Home - Dairy/Fruit/Vegs (Consumer Spending)',
       '2020 Food at Home - Meat/Poultry/Fish/Eggs (Consumer Spending)',
       '2020 Food at Home - Nonalcoholic Bev (Consumer Spending)',
       '2020 Food at Home - Snacks/Other (Consumer Spending)',
       '2020 Disposable Income (Esri)',
       '2025 Total Expenditures (Consumer Spending)',
       '2025 Tapestry Market Segmentation (Households)',
       '2025 Travel (Consumer Spending)',
       '2010 Average Household Size (U.S. Census)',
       '2010 Households by Size (U.S. Census)',
       '2010 Households by Age of Householder (U.S. Census)',
       '2010 Households by Race/Hispanic Origin (U.S. Census)',
       '2010 Housing by Race/Hispanic Origin (U.S. Census)',
       '2010 Vacant Housing Units (U.S. Census)',
       '2010 Age by Sex by Race (U.S. Census)',
       '2025 Age by Sex by Race (Esri)', '2020 Age by Sex by Race (Esri)',
       '2019 Tapestry Market Segmentation (Households)',
       '2019 Key Demographic Indicators (Esri)',
       '2019 Age: 5 Year Increments (Esri)',
       '2019 Key Mobile Facts (Esri)', '2019 Income (Esri)',
       '2019 Labor Force by Industry (Esri)',
       '2020 Business Summary by NAICS',
       '2014-2018 Class of Worker (ACS)',
       '2025 Apparel (Consumer Spending)', '2020 Crime Indexes (AGS)',
       '2020 Crime Aggregates', '2020 Other (Esri)',
       '2025 Education (Consumer Spending)',
       '2025 Entertainment/Recreation (Consumer Spending)',
       '2025 Financial (Consumer Spending)',
       '2025 Miscellaneous Expenses (Consumer Spending)',
       '2020 Dining Out (Consumer Spending)',
       '2025 Alcoholic Beverages (Consumer Spending)',
       '2025 Dining Out (Consumer Spending)',
       '2025 Food at Home - Bakery Products (Consumer Spending)',
       '2025 Food at Home - Dairy/Fruit/Vegs (Consumer Spending)',
       '2025 Food at Home - Meat/Poultry/Fish/Eggs (Consumer Spending)',
       '2025 Food at Home - Nonalcoholic Bev (Consumer Spending)',
       '2025 Food at Home - Snacks/Other (Consumer Spending)',
       '2010 Group Quarters Population (U.S. Census)',
       '2014-2018 Heating Fuel (ACS)',
       '2010 Housing by Size (U.S. Census)',
       '2010 Households by Type (U.S. Census)',
       '2010 Population by Relationship and Household Type (U.S. Census)',
       '2010 Housing by Age of Householder (U.S. Census)',
       '2010 Households by Type and Children (U.S. Census)',
       '2017 Retail MarketPlace',
       '2020 Convenience Stores (Market Potential)',
       '2020 Key Mobile Spending Facts (Esri)',
       '2020 Sports (Market Potential)',
       '2025 Transportation - Local (Consumer Spending)',
       '2020 Travel (Market Potential)',
       '2014-2018 Housing Units in Structure (ACS)'], dtype=object)

#### Data Collections by Socio-demographic Factors

You can filter the `data_collections` to get collections for a specific factor using Pandas expressions. Let's loook at data collections for different `socio-demographic factors` such as `Age, Population, Income`.

__Data Collections for Age__

In [104]:
Age_Collections = usa_df['fieldCategory'].str.contains('Age', na=False)
usa_df[Age_Collections].fieldCategory.unique()

array(['2019 Age: 1 Year Increments (Esri)',
       '2024 Age: 1 Year Increments (Esri)',
       '2010 Age: 1 Year Increments (U.S. Census)',
       '2019 Age: 5 Year Increments (Esri)',
       '2024 Age: 5 Year Increments (Esri)',
       '2010 Age: 5 Year Increments (U.S. Census)',
       '2014-2018 Females by Age of Children and Employment Status (ACS)',
       '2014-2018 Households by Type and Size and Age (ACS)',
       '2019 Age Dependency (Esri)', '2024 Age Dependency (Esri)',
       '2019 Income by Age (Esri)', '2024 Income by Age (Esri)',
       '2019 Disposable Income by Age (Esri)', 'Age: 5 Year Increments',
       '2019 Net Worth by Age (Esri)',
       '2010 Households by Age of Householder (U.S. Census)',
       '2010 Age by Sex by Race (U.S. Census)',
       '2024 Age by Sex by Race (Esri)', '2019 Age by Sex by Race (Esri)',
       '2010 Housing by Age of Householder (U.S. Census)'], dtype=object)

__Data Collections for Population__

In [106]:
Pop_Collections = usa_df['fieldCategory'].str.contains('Population', na=False)
usa_df[Pop_Collections].fieldCategory.unique()

array(['2014-2018 Population 65+ by Relationship and Household Type (ACS)',
       '2010 Population (U.S. Census)',
       '2014-2018 Population by Language Spoken at Home (ACS)',
       '2019 Daytime Population (Esri)',
       '2019 Population by Generation (Esri)',
       '2024 Population by Generation (Esri)',
       '2019 Population Time Series (Esri)', '2019 Population (Esri)',
       '2010 Group Quarters Population (U.S. Census)',
       '2010 Population by Relationship and Household Type (U.S. Census)'],
      dtype=object)

__Data Collections for Income__

In [28]:
Income_Collections = usa_df['fieldCategory'].str.contains('Income', na=False)
Income_Collections.index.unique()

Index(['1yearincrements', '5yearincrements', 'ACS_Housing_Summary_rep',
       'ACS_Population_Summary_rep', 'Age', 'AgeDependency',
       'Age_50_Profile_rep', 'Age_by_Sex_Profile_rep',
       'Age_by_Sex_by_Race_Profile_rep', 'AtRisk',
       ...
       'transportation', 'travelMPI', 'unitsinstructure',
       'urbanizationgroupsNEW', 'vacant', 'vehiclesavailable', 'veterans',
       'women', 'yearbuilt', 'yearmovedin'],
      dtype='object', name='dataCollectionID', length=150)

As mentioned earlier, using a `data_collections` unique ID (`dataCollectionID`) is the best way to further query a data collection. Let's look at the `dataCollectionID` for various Income data collections.

In [21]:
usa_df[Income_Collections].index.unique()

Index(['ACS_Population_Summary_rep', 'Age_50_Profile_rep', 'AtRisk',
       'Community_Profile_rep',
       'Demographic_and_Income_Comparison_Profile_rep',
       'Demographic_and_Income_Profile_rep', 'Disposable_Income_Profile_rep',
       'Graphic_Profile_rep', 'Health', 'Household_Income_Profile_rep',
       'KeyUSFacts', 'Market_Profile_rep', 'Policy',
       'Retail_MarketPlace_Profile_rep', 'Wealth', 'basicFactsForMobileApps',
       'disposableincome', 'foodstampsSNAP', 'householdincome', 'households',
       'incomebyage', 'population'],
      dtype='object', name='dataCollectionID')

#### Analysis variables for Data Collections
Once we know the data collection we would like to use, we can look at all the unique variables available in that data collection using its unique ID. Let's discover `analysisVariables` for some of the data collections.

__Analysis variables for `Age` data collection__

In [22]:
usa_df.loc['Age']['analysisVariable'].unique()

array(['Age.MALE0', 'Age.MALE5', 'Age.MALE10', 'Age.MALE15', 'Age.MALE20',
       'Age.MALE25', 'Age.MALE30', 'Age.MALE35', 'Age.MALE40',
       'Age.MALE45', 'Age.MALE50', 'Age.MALE55', 'Age.MALE60',
       'Age.MALE65', 'Age.MALE70', 'Age.MALE75', 'Age.MALE80',
       'Age.MALE85', 'Age.FEM0', 'Age.FEM5', 'Age.FEM10', 'Age.FEM15',
       'Age.FEM20', 'Age.FEM25', 'Age.FEM30', 'Age.FEM35', 'Age.FEM40',
       'Age.FEM45', 'Age.FEM50', 'Age.FEM55', 'Age.FEM60', 'Age.FEM65',
       'Age.FEM70', 'Age.FEM75', 'Age.FEM80', 'Age.FEM85'], dtype=object)

__Analysis variables for `Age_by_Sex_by_Race_Profile_rep` data collection__

In [27]:
usa_df.loc['Age_by_Sex_by_Race_Profile_rep']['analysisVariable'].unique()

array(['Age_by_Sex_by_Race_Profile_rep.MEDMAGE_CY',
       'Age_by_Sex_by_Race_Profile_rep.MEDFAGE_CY',
       'Age_by_Sex_by_Race_Profile_rep.TOTPOP_FY',
       'Age_by_Sex_by_Race_Profile_rep.TOTHH_FY',
       'Age_by_Sex_by_Race_Profile_rep.POPGRWCYFY',
       'Age_by_Sex_by_Race_Profile_rep.HHGRWCYFY',
       'Age_by_Sex_by_Race_Profile_rep.MEDAGE_FY',
       'Age_by_Sex_by_Race_Profile_rep.MEDMAGE_FY',
       'Age_by_Sex_by_Race_Profile_rep.MEDFAGE_FY',
       'Age_by_Sex_by_Race_Profile_rep.TOTPOP10',
       'Age_by_Sex_by_Race_Profile_rep.MEDAGE10',
       'Age_by_Sex_by_Race_Profile_rep.MEDMAGE10',
       'Age_by_Sex_by_Race_Profile_rep.MEDFAGE10',
       'Age_by_Sex_by_Race_Profile_rep.TOTHH10'], dtype=object)

__Analysis variables for `DaytimePopulation` data collection__

In [33]:
usa_df.loc['DaytimePopulation']['analysisVariable'].unique()

array(['DaytimePopulation.DPOP_CY', 'DaytimePopulation.DPOPWRK_CY',
       'DaytimePopulation.DPOPRES_CY', 'DaytimePopulation.DPOPDENSCY'],
      dtype=object)

### Data Collections for Another Country

Let's look at data collections for New Zealand.

The `Country` class can be used to discover the data collections for a country. When working with a particular country, you will find it convenient to get a reference to it using the `Country.get()` method.

In [59]:
# Get US as a country
nz = Country.get('New Zealand')
type(nz)

arcgis.geoenrichment.enrichment.Country

In [60]:
nz_df = nz.data_collections

# print a few rows of the DataFrame
nz_df.head()

,analysisVariable,alias,fieldCategory,vintage
dataCollectionID,,,,
15YearIncrements,15YearIncrements.PAGE01_CY,2018 Total Population Age 0-14,2018 Population Totals (MBR),2018
15YearIncrements,15YearIncrements.PAGE02_CY,2018 Total Population Age 15-29,2018 Population Totals (MBR),2018
15YearIncrements,15YearIncrements.PAGE03_CY,2018 Total Population Age 30-44,2018 Population Totals (MBR),2018
15YearIncrements,15YearIncrements.PAGE04_CY,2018 Total Population Age 45-59,2018 Population Totals (MBR),2018
15YearIncrements,15YearIncrements.PAGE05_CY,2018 Total Population Age 60+,2018 Population Totals (MBR),2018

In [61]:
nz_df.shape

(191, 4)

#### Unique Data Collections for New Zealand

Let's get a list of unique data collections that are available for New Zealand

In [62]:
nz_df.index.unique()

Index(['15YearIncrements', 'EducationalAttainment', 'Gender',
       'HouseholdTotals', 'HouseholdsbyIncome', 'HouseholdsbyType', 'KeyFacts',
       'KeyGlobalFacts', 'MaritalStatus', 'PopulationTotals',
       'PurchasingPower', 'Spending'],
      dtype='object', name='dataCollectionID')

New Zealand has 12 unique data collections.

We can look at the `fieldCategory` column to understand each category better.

In [49]:
nz_df.fieldCategory.unique()

array(['2018 Population Totals (MBR)',
       '2018 Male Population Totals (MBR)',
       '2018 Female Population Totals (MBR)',
       '2018 Educational Attainment (MBR)', '2018 Household Totals (MBR)',
       '2018 Households by Income (MBR)', '2018 Households by Type (MBR)',
       '2018 Marital Status (MBR)', '2018 Purchasing Power (MBR)',
       'Key Demographic Indicators', 'Age: 5 Year Increments',
       '2018 Food & Beverage Expenditures (MBR)',
       '2018 Alcoholic Beverage Expenditures (MBR)',
       '2018 Tobacco Expenditures (MBR)',
       '2018 Clothing Expenditures (MBR)',
       '2018 Footwear Expenditures (MBR)',
       '2018 Furniture & Furnishing Expenditures (MBR)',
       '2018 Household Textiles Expenditures (MBR)',
       '2018 Household Appliances Expenditures (MBR)',
       '2018 Household Utensils Expenditures (MBR)',
       '2018 House & Garden Expenditures (MBR)',
       '2018 Household Maintenance Expenditures (MBR)',
       '2018 Medical Products & Supplies Expenditures (MBR)',
       '2018 Consumer Electronics Expenditures (MBR)',
       '2018 Recreation & Culture Durable Expenditures (MBR)',
       '2018 Entertainment Expenditures (MBR)',
       '2018 Recreational & Cultural Service Expenditures (MBR)',
       '2018 Books & Stationery Expenditures (MBR)',
       '2018 Catering Services Expenditures (MBR)',
       '2018 Personal Care Expenditures (MBR)',
       '2018 Jewelry & Personal Effects Expenditures (MBR)'], dtype=object)

Looking at `fieldCategory` is a great way to clearly understand what the data collection is about. However, to query a data collection its unique ID (`dataCollectionID`) must be used.

#### Data Collections for Socio-demographic Factors

New Zealand has fewer `data_collections` compared to U.S. Let's loook at data collections for `Key Facts, Education and Spending`.

__Data Collection for Key Facts__

In [66]:
nz_df.loc['KeyGlobalFacts']

,analysisVariable,alias,fieldCategory,vintage
dataCollectionID,,,,
KeyGlobalFacts,KeyGlobalFacts.TOTPOP,Total Population,Key Demographic Indicators,NaN
KeyGlobalFacts,KeyGlobalFacts.TOTHH,Total Households,Key Demographic Indicators,NaN
KeyGlobalFacts,KeyGlobalFacts.AVGHHSZ,Average Household Size,Key Demographic Indicators,NaN
KeyGlobalFacts,KeyGlobalFacts.TOTMALES,Male Population,Age: 5 Year Increments,NaN
KeyGlobalFacts,KeyGlobalFacts.TOTFEMALES,Female Population,Age: 5 Year Increments,NaN

__Data Collection for Education__

In [67]:
nz_df.loc['EducationalAttainment']

,analysisVariable,alias,fieldCategory,vintage
dataCollectionID,,,,
EducationalAttainment,EducationalAttainment.EDUC01A_CY,2018 Pop 15+/Edu: No Qualification,2018 Educational Attainment (MBR),2018
EducationalAttainment,EducationalAttainment.EDUC02A_CY,2018 Pop 15+/Edu: Level 1,2018 Educational Attainment (MBR),2018
EducationalAttainment,EducationalAttainment.EDUC03A_CY,2018 Pop 15+/Edu: Level 2,2018 Educational Attainment (MBR),2018
EducationalAttainment,EducationalAttainment.EDUC04A_CY,2018 Pop 15+/Edu: Level 3,2018 Educational Attainment (MBR),2018
EducationalAttainment,EducationalAttainment.EDUC05A_CY,2018 Pop 15+/Edu: Level 4,2018 Educational Attainment (MBR),2018
EducationalAttainment,EducationalAttainment.EDUC06A_CY,2018 Pop 15+/Edu: Level 5 or 6,2018 Educational Attainment (MBR),2018
EducationalAttainment,EducationalAttainment.EDUC07_CY,2018 Pop 15+/Edu: Bachelor or Level 7,2018 Educational Attainment (MBR),2018
EducationalAttainment,EducationalAttainment.EDUC08_CY,2018 Pop 15+/Edu: Postgrad/Honors,2018 Educational Attainment (MBR),2018
EducationalAttainment,EducationalAttainment.EDUC09_CY,2018 Pop 15+/Edu: Master's,2018 Educational Attainment (MBR),2018
EducationalAttainment,EducationalAttainment.EDUC10_CY,2018 Pop 15+/Edu: Doctorate,2018 Educational Attainment (MBR),2018
EducationalAttainment,EducationalAttainment.EDUC11_CY,2018 Pop 15+/Edu: Overseas Secondary,2018 Educational Attainment (MBR),2018
EducationalAttainment,EducationalAttainment.EDUC12_CY,2018 Pop 15+/Edu: Not Elsewhere included,2018 Educational Attainment (MBR),2018

__Data Collection for Spending__

In [68]:
nz_df.loc['Spending']

,analysisVariable,alias,fieldCategory,vintage
dataCollectionID,,,,
Spending,Spending.CS01_CY,2018 Food & Beverage: Total,2018 Food & Beverage Expenditures (MBR),2018
Spending,Spending.CS01PRM_CY,2018 Food & Beverage: Per Mill,2018 Food & Beverage Expenditures (MBR),2018
Spending,Spending.CSPC01_CY,2018 Food & Beverage: Per Capita,2018 Food & Beverage Expenditures (MBR),2018
Spending,Spending.CS01IDX_CY,2018 Food & Beverage: Index,2018 Food & Beverage Expenditures (MBR),2018
Spending,Spending.CS02_CY,2018 Alcoholic Beverage: Total,2018 Alcoholic Beverage Expenditures (MBR),2018
...,...,...,...,...
Spending,Spending.CS19IDX_CY,2018 Personal Care: Index,2018 Personal Care Expenditures (MBR),2018
Spending,Spending.CS20_CY,2018 Personal Effects: Total,2018 Jewelry & Personal Effects Expenditures (...,2018
Spending,Spending.CS20PRM_CY,2018 Personal Effects: Per Mill,2018 Jewelry & Personal Effects Expenditures (...,2018
Spending,Spending.CSPC20_CY,2018 Personal Effects: Per Capita,2018 Jewelry & Personal Effects Expenditures (...,2018
Spending,Spending.CS20IDX_CY,2018 Personal Effects: Index,2018 Jewelry & Personal Effects Expenditures (...,2018

#### Analysis variables for Data Collections
Once we know the data collection we would like to use, we can look at all the unique variables available in that data collection using its unique ID. Let's discover `analysisVariables` for some of the data collections we looked at earlier.

__Analysis variables for `KeyGlobalFacts` data collection__

In [70]:
nz_df.loc['KeyGlobalFacts']['analysisVariable'].unique()

array(['KeyGlobalFacts.TOTPOP', 'KeyGlobalFacts.TOTHH',
       'KeyGlobalFacts.AVGHHSZ', 'KeyGlobalFacts.TOTMALES',
       'KeyGlobalFacts.TOTFEMALES'], dtype=object)

__Analysis variables for `EducationalAttainment` data collection__

In [71]:
nz_df.loc['EducationalAttainment']['analysisVariable'].unique()

array(['EducationalAttainment.EDUC01A_CY',
       'EducationalAttainment.EDUC02A_CY',
       'EducationalAttainment.EDUC03A_CY',
       'EducationalAttainment.EDUC04A_CY',
       'EducationalAttainment.EDUC05A_CY',
       'EducationalAttainment.EDUC06A_CY',
       'EducationalAttainment.EDUC07_CY',
       'EducationalAttainment.EDUC08_CY',
       'EducationalAttainment.EDUC09_CY',
       'EducationalAttainment.EDUC10_CY',
       'EducationalAttainment.EDUC11_CY',
       'EducationalAttainment.EDUC12_CY'], dtype=object)

__Analysis variables for `Spending` data collection__

In [72]:
nz_df.loc['Spending']['analysisVariable'].unique()

array(['Spending.CS01_CY', 'Spending.CS01PRM_CY', 'Spending.CSPC01_CY',
       'Spending.CS01IDX_CY', 'Spending.CS02_CY', 'Spending.CS02PRM_CY',
       'Spending.CSPC02_CY', 'Spending.CS02IDX_CY', 'Spending.CS03_CY',
       'Spending.CS03PRM_CY', 'Spending.CSPC03_CY', 'Spending.CS03IDX_CY',
       'Spending.CS04_CY', 'Spending.CS04PRM_CY', 'Spending.CSPC04_CY',
       'Spending.CS04IDX_CY', 'Spending.CS05_CY', 'Spending.CS05PRM_CY',
       'Spending.CSPC05_CY', 'Spending.CS05IDX_CY', 'Spending.CS06_CY',
       'Spending.CS06PRM_CY', 'Spending.CSPC06_CY', 'Spending.CS06IDX_CY',
       'Spending.CS07_CY', 'Spending.CS07PRM_CY', 'Spending.CSPC07_CY',
       'Spending.CS07IDX_CY', 'Spending.CS08_CY', 'Spending.CS08PRM_CY',
       'Spending.CSPC08_CY', 'Spending.CS08IDX_CY', 'Spending.CS09_CY',
       'Spending.CS09PRM_CY', 'Spending.CSPC09_CY', 'Spending.CS09IDX_CY',
       'Spending.CS10_CY', 'Spending.CS10PRM_CY', 'Spending.CSPC10_CY',
       'Spending.CS10IDX_CY', 'Spending.CS11_CY', 'Spending.CS11PRM_CY',
       'Spending.CSPC11_CY', 'Spending.CS11IDX_CY', 'Spending.CS12_CY',
       'Spending.CS12PRM_CY', 'Spending.CSPC12_CY', 'Spending.CS12IDX_CY',
       'Spending.CS13_CY', 'Spending.CS13PRM_CY', 'Spending.CSPC13_CY',
       'Spending.CS13IDX_CY', 'Spending.CS14_CY', 'Spending.CS14PRM_CY',
       'Spending.CSPC14_CY', 'Spending.CS14IDX_CY', 'Spending.CS15_CY',
       'Spending.CS15PRM_CY', 'Spending.CSPC15_CY', 'Spending.CS15IDX_CY',
       'Spending.CS16_CY', 'Spending.CS16PRM_CY', 'Spending.CSPC16_CY',
       'Spending.CS16IDX_CY', 'Spending.CS17_CY', 'Spending.CS17PRM_CY',
       'Spending.CSPC17_CY', 'Spending.CS17IDX_CY', 'Spending.CS18_CY',
       'Spending.CS18PRM_CY', 'Spending.CSPC18_CY', 'Spending.CS18IDX_CY',
       'Spending.CS19_CY', 'Spending.CS19PRM_CY', 'Spending.CSPC19_CY',
       'Spending.CS19IDX_CY', 'Spending.CS20_CY', 'Spending.CS20PRM_CY',
       'Spending.CSPC20_CY', 'Spending.CS20IDX_CY'], dtype=object)

### Perform Enrichment using Data Collections and Analysis Variables

Data Collections can be used to enrich various study areas. `data_collections` and `analysis_variables`  can be passed in the `enrich()` method. Details about enriching study areas can be found in `Enriching Study Areas` section. 

Let's look at a few similar examples of GeoEnrichment here.

#### Enrich using Data Collections

__Enrich with `Age` data collection__

Here we see an address being enriched by data from `Age` data collection.

In [73]:
# Enriching single address as single line imput
age_coll = enrich(study_areas=["380 New York St Redlands CA 92373"], 
                       data_collections=['Age'])

In [75]:
age_coll

,ID,OBJECTID,sourceCountry,X,Y,areaType,bufferUnits,bufferUnitsAlias,bufferRadii,aggregationMethod,...,FEM45,FEM50,FEM55,FEM60,FEM65,FEM70,FEM75,FEM80,FEM85,SHAPE
0,0,1,US,-117.194872,34.057237,RingBuffer,esriMiles,Miles,1,BlockApportionment:US.BlockGroups,...,376,398,374,340,310,262,153,98,129,"{""rings"": [[[-117.19487199429183, 34.071745616..."

In [76]:
age_coll.columns

Index(['ID', 'OBJECTID', 'sourceCountry', 'X', 'Y', 'areaType', 'bufferUnits',
       'bufferUnitsAlias', 'bufferRadii', 'aggregationMethod',
       'populationToPolygonSizeRating', 'apportionmentConfidence', 'HasData',
       'MALE0', 'MALE5', 'MALE10', 'MALE15', 'MALE20', 'MALE25', 'MALE30',
       'MALE35', 'MALE40', 'MALE45', 'MALE50', 'MALE55', 'MALE60', 'MALE65',
       'MALE70', 'MALE75', 'MALE80', 'MALE85', 'FEM0', 'FEM5', 'FEM10',
       'FEM15', 'FEM20', 'FEM25', 'FEM30', 'FEM35', 'FEM40', 'FEM45', 'FEM50',
       'FEM55', 'FEM60', 'FEM65', 'FEM70', 'FEM75', 'FEM80', 'FEM85', 'SHAPE'],
      dtype='object')

__Enrich with `Health` data collection__

Here we see a zip code being enriched by data from Health data collection.

In [78]:
redlands = usa.subgeographies.states['California'].zip5['92373']

In [83]:
redlands_df = enrich(study_areas=[redlands], data_collections=['Health'] )

In [84]:
redlands_df

,ID,OBJECTID,StdGeographyLevel,StdGeographyName,StdGeographyID,sourceCountry,aggregationMethod,populationToPolygonSizeRating,apportionmentConfidence,HasData,...,POP85_CY,POP18UP_CY,POP21UP_CY,MEDAGE_CY,HHU18C10,MEDHINC_CY,S27_BUS,S27_SALES,S27_EMP,SHAPE
0,0,1,US.ZIP5,Redlands,92373,US,Query:US.ZIP5,2.191,2.576,1,...,1081,27277,26168,41.1,3942,83577,193,298594,4020,"{""rings"": [[[-117.13603999963594, 34.032169999..."

In [85]:
redlands_df.columns

Index(['ID', 'OBJECTID', 'StdGeographyLevel', 'StdGeographyName',
       'StdGeographyID', 'sourceCountry', 'aggregationMethod',
       'populationToPolygonSizeRating', 'apportionmentConfidence', 'HasData',
       ...
       'POP85_CY', 'POP18UP_CY', 'POP21UP_CY', 'MEDAGE_CY', 'HHU18C10',
       'MEDHINC_CY', 'S27_BUS', 'S27_SALES', 'S27_EMP', 'SHAPE'],
      dtype='object', length=434)

#### Enrich using Analysis Variables

Data can be enriched by specifying specific analysis variables of a data collection with which we want to enrich our data. In this example, we will look at `analysis_variables` for Age `data_collection` and then use specific analysis variables to `enrich()` a study area.

In [11]:
# Unique analysis variables for Age data collection
usa = Country.get('US')
usa.data_collections.loc['Age']['analysisVariable'].unique()

array(['Age.MALE0', 'Age.MALE5', 'Age.MALE10', 'Age.MALE15', 'Age.MALE20',
       'Age.MALE25', 'Age.MALE30', 'Age.MALE35', 'Age.MALE40',
       'Age.MALE45', 'Age.MALE50', 'Age.MALE55', 'Age.MALE60',
       'Age.MALE65', 'Age.MALE70', 'Age.MALE75', 'Age.MALE80',
       'Age.MALE85', 'Age.FEM0', 'Age.FEM5', 'Age.FEM10', 'Age.FEM15',
       'Age.FEM20', 'Age.FEM25', 'Age.FEM30', 'Age.FEM35', 'Age.FEM40',
       'Age.FEM45', 'Age.FEM50', 'Age.FEM55', 'Age.FEM60', 'Age.FEM65',
       'Age.FEM70', 'Age.FEM75', 'Age.FEM80', 'Age.FEM85'], dtype=object)

Now, we will enrich our study area with `Age.FEM45, Age.FEM55, Age.FEM65` variables

In [12]:
enrich(study_areas=["380 New York St Redlands CA 92373"], 
       analysis_variables=["Age.FEM45","Age.FEM55","Age.FEM65"])

,ID,OBJECTID,sourceCountry,X,Y,areaType,bufferUnits,bufferUnitsAlias,bufferRadii,aggregationMethod,populationToPolygonSizeRating,apportionmentConfidence,HasData,FEM45,FEM55,FEM65,SHAPE
0,0,1,US,-117.194872,34.057237,RingBuffer,esriMiles,Miles,1,BlockApportionment:US.BlockGroups,2.191,2.576,1,376,374,310,"{""rings"": [[[-117.19487199429183, 34.071745616..."

## Enriching Spatially Enabled Dataframes

One of the most common use case for GeoEnrichment is enriching existing data in feature layers. As a user, you may need to analyze and enrich your data that already exists in feature layers. Spatially Enabled DataFrame (SeDF) helps us bring the data from layer into a dataframe which can then be GeoEnriched. 

Let's look at an example using an existing layer of Covid-19 data at the state level.

In [21]:
# Get the layer
gis = GIS(set_active=False)
covid_item = gis.content.get('628578697fb24d8ea4c32fa0c5ae1843')
print(covid_item)
covid_layer = covid_item.layers[0]
covid_layer

<Item title:"COVID-19 Cases US" type:Feature Layer Collection owner:CSSE_GISandData>

We can query the layer as a dataframe and then use the dataframe for enrichment.

In [22]:
covid_df = covid_layer.query(as_df=True)
covid_df.shape

(3238, 19)

To showcase GeoEnrichment, we will create a subset of the original data and then `enrich()` the subset.

In [23]:
# Create subset
test_df = covid_df.iloc[:100].copy()
test_df.shape

(100, 19)

In [24]:
# Check geometry
test_df.spatial.geometry_type

['point']

A dataframe can be passed as a value to `study_areas` parameter of the `enrich()` method. Here we are enriching our dataframe with specific variables from `Age` data collection.

In [25]:
# Enrich dataframe
new_df = enrich(study_areas=test_df, 
       analysis_variables=["Age.FEM45","Age.FEM55","Age.FEM65"])

In [26]:
new_df.head()

,ID,OBJECTID_0,sourceCountry,Long_,Recovered,Country_Region,FIPS,Last_Update,Combined_Key,ISO3,...,bufferUnitsAlias,bufferRadii,aggregationMethod,populationToPolygonSizeRating,apportionmentConfidence,HasData,FEM45,FEM55,FEM65,SHAPE
0,0,1,US,-82.461707,0,US,45001,1595565300000,"Abbeville, South Carolina, US",USA,...,Miles,1,BlockApportionment:US.BlockGroups,2.191,2.576,1,2,2,2,"{""rings"": [[[-82.46170657999994, 34.2378420028..."
1,1,2,US,-92.414197,0,US,22001,1595565300000,"Acadia, Louisiana, US",USA,...,Miles,1,BlockApportionment:US.BlockGroups,2.191,2.576,1,3,3,2,"{""rings"": [[[-92.41419697999997, 30.3095821536..."
2,2,3,US,-75.632346,0,US,51001,1595565300000,"Accomack, Virginia, US",USA,...,Miles,1,BlockApportionment:US.BlockGroups,2.191,2.576,1,14,16,14,"{""rings"": [[[-75.63234615, 37.781571251121655]..."
3,3,4,US,-116.241552,0,US,16001,1595565300000,"Ada, Idaho, US",USA,...,Miles,1,BlockApportionment:US.BlockGroups,2.191,2.576,1,0,0,0,"{""rings"": [[[-116.24155159999998, 43.467142851..."
4,4,5,US,-94.471059,0,US,19001,1595565300000,"Adair, Iowa, US",USA,...,Miles,1,BlockApportionment:US.BlockGroups,2.191,2.576,1,1,1,1,"{""rings"": [[[-94.47105873999998, 41.3452468224..."

In [27]:
# Check shape
new_df.shape

(91, 31)

We can see that enrichment resulted in 91 records and 31 columns. There are some areas in our dataframe for which enrichment information is not available. Hence, we have 91 records instead of 100. Geoenrichment adds some additional columns along with the analysis variables we enriched for and so we see 31 columns.

## Conclusion

In this part of the `arcgis.geoenrichment` module guide series, you saw how `data_collections` property of a `Country` object lists its available `data_collections` and `analysis_variables`. You explored different data collections, their analysis variables and then enriched study areas using the same. Towards the end, you experienced how spatially enabled dataframes can be enriched.

In the subsequent pages, you will learn about Generating Reports and Standard Geography Queries.