# PDF Table to Pandas Data Frame to PDF Map

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Step-1.-Install-tabula-py" data-toc-modified-id="Step-1.-Install-tabula-py-1">Step 1. Install tabula-py</a></span></li><li><span><a href="#Step-2.-Read-table-from-PDF" data-toc-modified-id="Step-2.-Read-table-from-PDF-2">Step 2. Read table from PDF</a></span></li><li><span><a href="#Step-3.-Process-the-table-contents" data-toc-modified-id="Step-3.-Process-the-table-contents-3">Step 3. Process the table contents</a></span></li><li><span><a href="#Step-4.-Merge-two-tables" data-toc-modified-id="Step-4.-Merge-two-tables-4">Step 4. Merge two tables</a></span></li><li><span><a href="#Step-5.-Draw-the-top-20-impacted-counties" data-toc-modified-id="Step-5.-Draw-the-top-20-impacted-counties-5">Step 5. Draw the top 20 impacted counties</a></span></li><li><span><a href="#Step-6.-Export-to-PDF" data-toc-modified-id="Step-6.-Export-to-PDF-6">Step 6. Export to PDF</a></span></li><li><span><a href="#References" data-toc-modified-id="References-7">References</a></span></li></ul></div>

Often PDF files can contain useful information presented in a tabular form. If such data contains location information, it would be much more insightful if presented as a cartographic map. Thus this sample shows how Pandas can be used to extract data from a table within a PDF file (in this case, a PDF accessible from `California Department of Forestry & Fire Protection (CAL FIRE)` website) and how it can be then brought into the GIS for further analysis and visualization.

## Step 1. Install tabula-py

**Note**: to run this sample, you need a few extra libraries in your conda environment. If you don't have the libraries, install them by running the following commands from cmd.exe or your shell

```
pip install lxml
pip install tabula-py```

<a href="https://pypi.org/project/tabula-py/">`tabula-py`</a> can read table of PDF and convert into panda's `DataFrame`. In order to have tabula-py work on your environment, please make sure you have Java 7 or 8 on your machine before installing <a href="https://github.com/chezou/tabula-py">tabula-py</a>.

In [1]:
import pandas as pd
import numpy as np

## Step 2. Read table from PDF

**California Department of Forestry & Fire Protection (CAL FIRE)** provides statistics and reports that are tracked on a weekly basis and also snapshots of the number of fires and acres burned. These are preliminary numbers taken from the Computer Aided Dispatch system, and will likely change as dispatched wildfires may end up being other types of fires or false alarms <a href="#References"> [1]</a>.

The table of **Number of Fires and Acres** can be fetched from the web page and parsed as a Pandas data frame (as following):

In [2]:
df = pd.read_html("https://www.fire.ca.gov/stats-events/")[0]
df.head()

                                                 0      1       2
0                                         Interval  Fires   Acres
1         January 1, 2019 through November 3, 2019   5244  126069
2         January 1, 2018 through November 3, 2018   5355  632701
3                   5-Year Average (same interval)   5282  373576
4  2019 Combined YTD (CALFIRE & US Forest Service)   6402  250349

Also **CAL FIRE** provides statistically summarizing reports for historic wildfires in California, e.g. **Top 20 largest**, **Top 20 most destructive**, and **top 20 deadliest**, URLs of which are kept in a list below:

In [3]:
pdf_url_list = ["https://www.fire.ca.gov/media/5510/top20_acres.pdf",
                "https://www.fire.ca.gov/media/5511/top20_destruction.pdf",
                "https://www.fire.ca.gov/media/5512/top20_deadliest.pdf"]

Provided the url of the online PDF file, `tabula-py` can read the table from the pdf at the url.

In [4]:
from tabula import wrapper
df = wrapper.read_pdf(pdf_url_list[0])

In [5]:
# in order to print first 5 lines of Table
df.head()

,FIRE NAME (CAUSE),DATE,COUNTY,ACRES,STRUCTURES,DEATHS
0,1MENDOCINO COMPLEX\r(Under Investigation),July 2018,"Colusa County, Lake County,\rMendocino County ...","459,123",280,1.0
1,2\rTHOMAS (Powerlines),December 2017,Ventura & Santa Barbara,"281,893","1,063",2.0
2,3\rCEDAR ( Human Related),October 2003,San Diego,"273,246","2,820",15.0
3,4\rRUSH (Lightning ),August 2012,Lassen,"271,911 CA /\r43,666 NV",0,0.0
4,5\rRIM (Human Related),August 2013,Tuolumne,"257,314",112,0.0

## Step 3. Process the table contents

Looking at each columns presented in the Pandas data frame, some are having composite information and would require further processing. For example, `FIRE NAME (CAUSE)` column contains a sequential ordering number, fire name, and cause in one string, and would need to be split into separate columns.

Next, break the `FIRE NAME (CAUSE)` column into `ID`, `Fire Name` and `Cause` columns:

In [6]:
# new data frame with split value columns 
new = df["FIRE NAME (CAUSE)"].str.split("(", n = 1, expand = True) 
  
df["ID"] = new[0].str[0]

# making separate first name column from new data frame 
df["FIRE NAME"]= new[0].str.replace('\r', '').str[1:]

# making separate last name column from new data frame 
df["CAUSE"]= new[1].str[:-1]

df = df.drop(["FIRE NAME (CAUSE)"], axis=1)

df.drop(df.tail(1).index,inplace=True)

In [7]:
df.head()

,DATE,COUNTY,ACRES,STRUCTURES,DEATHS,ID,FIRE NAME,CAUSE
0,July 2018,"Colusa County, Lake County,\rMendocino County ...","459,123",280,1.0,1,MENDOCINO COMPLEX,Under Investigation
1,December 2017,Ventura & Santa Barbara,"281,893","1,063",2.0,2,THOMAS,Powerlines
2,October 2003,San Diego,"273,246","2,820",15.0,3,CEDAR,Human Related
3,August 2012,Lassen,"271,911 CA /\r43,666 NV",0,0.0,4,RUSH,Lightning
4,August 2013,Tuolumne,"257,314",112,0.0,5,RIM,Human Related

Similar to `FIRE NAME (CAUSE)` column, the `ACRES` column also has composite information for some rows. For instance, when the fire happens in two states, e.g. CA and NV, you would see in the `ACRES` column - `271,911 CA /\r43,666 NV  `, the actual impacted area is the sum of 271911 and 43666 acres, and some numeric extraction and summing need to be done here:

In [8]:
import re

"""Used to extract numbers from composite string e.g. "271,911 CA /\r43,666 NV" 
   and add the acres within two or more states
"""
def extract_and_sum(s):
    tmp = map(int, re.sub(r'[ a-zA-Z,]+[ a-zA-Z,]+', '', s, re.I).replace(',','').split('/\r'))
    return sum(list(tmp))

"""Used to turn numerics e.g. 273,911 to int without delimitors e.g. 273911
"""
def replace_and_reassign(s):
    return int(s.replace(',',''))

temp= df['ACRES'].apply(lambda x: extract_and_sum(x) if '\r' in x else replace_and_reassign(x))

In [9]:
df['ACRES'] = temp
df.head()

,DATE,COUNTY,ACRES,STRUCTURES,DEATHS,ID,FIRE NAME,CAUSE
0,July 2018,"Colusa County, Lake County,\rMendocino County ...",459123,280,1.0,1,MENDOCINO COMPLEX,Under Investigation
1,December 2017,Ventura & Santa Barbara,281893,"1,063",2.0,2,THOMAS,Powerlines
2,October 2003,San Diego,273246,"2,820",15.0,3,CEDAR,Human Related
3,August 2012,Lassen,315577,0,0.0,4,RUSH,Lightning
4,August 2013,Tuolumne,257314,112,0.0,5,RIM,Human Related

Now we have cleaned up the `FIRE NAME (CAUSE)` and the `ACRES` columns, the last column that needs splitting is `COUNTY` which contains multiple impacted counties in California when the fire happens to multiple counties. Here, we will need to split a row of N counties to N rows with 1 county each.

Since the delimiter can be `,` or `&`, we would need to do `explode_str` twice (then remove `\r` and `County` from the column):

In [10]:
"""Using `numpy.arrange` in creating new rows as place holder to hold the splitted strings from df[col] based on `sep`;
   then `iloc` and `assign` to place the splitted results into newly added rows
"""
def explode_str(df, col, sep):
    s = df[col]
    i = np.arange(len(s)).repeat(s.str.count(sep) + 1)
    return df.iloc[i].assign(**{col: sep.join(s).split(sep)})

new_df = explode_str(df, 'COUNTY', ',')

In [11]:
new_df = explode_str(new_df, 'COUNTY', '&')

In [12]:
new_df['COUNTY'] = new_df['COUNTY'].str.replace('\r','')

In [13]:
new_df['NAME'] = new_df['COUNTY'].str.replace(' County','')

To reduce ambiguity, we are adding an additional column `STATE` to the DataFrame, so two counties with the same name (but in different states) will be cause confusions.

In [14]:
new_df['STATE'] = 'CA'

In [15]:
new_df.head()

,DATE,COUNTY,ACRES,STRUCTURES,DEATHS,ID,FIRE NAME,CAUSE,NAME,STATE
0,July 2018,Colusa County,459123,280,1.0,1,MENDOCINO COMPLEX,Under Investigation,Colusa,CA
0,July 2018,Lake County,459123,280,1.0,1,MENDOCINO COMPLEX,Under Investigation,Lake,CA
0,July 2018,Mendocino County,459123,280,1.0,1,MENDOCINO COMPLEX,Under Investigation,Mendocino,CA
0,July 2018,Glenn County,459123,280,1.0,1,MENDOCINO COMPLEX,Under Investigation,Glenn,CA
1,December 2017,Ventura,281893,"1,063",2.0,2,THOMAS,Powerlines,Ventura,CA

## Step 4. Merge two tables

The DataFrame we have got so far contains fire statistics, and would need to be aggregated with shape or geometry data in order to be drawn or saved as Web Map item. In doing such, we will access an existing feature layer called `USA Counties`, and merge the geographic attributes of each counties in this feature layer (e.g. 'Shape_Area', 'Shape_Leng', 'Shape__Area', 'Shape__Length') into the fire statistics table.

Before we can access the Feature Layer, let us connect to our GIS to geocode this data and present it as a map, either by specifying username and password, e.g. in `gis = GIS("https://www.arcgis.com", "arcgis_python", "P@ssword123")` or via an existing profile:

In [16]:
from arcgis.gis import GIS

gis = GIS('home')

In [17]:
counties_item = gis.content.get('48f9af87daa241c4b267c5931ad3b226')
counties_item

In [18]:
counties_flayer = counties_item.layers[0]
counties_fset = counties_flayer.query("STATE_NAME='California'")
counties_fset.sdf['NAME'].head()

0       Monterey
1     Santa Cruz
2    Santa Clara
3     San Benito
4        Ventura
Name: NAME, dtype: object

In [19]:
counties_fset.sdf.columns

Index(['AGE_10_14', 'AGE_15_19', 'AGE_20_24', 'AGE_25_34', 'AGE_35_44',
       'AGE_45_54', 'AGE_55_64', 'AGE_5_9', 'AGE_65_74', 'AGE_75_84',
       'AGE_85_UP', 'AGE_UNDER5', 'AMERI_ES', 'ASIAN', 'AVE_FAM_SZ',
       'AVE_HH_SZ', 'AVE_SALE12', 'AVE_SIZE12', 'BLACK', 'CNTY_FIPS',
       'CROP_ACR12', 'FAMILIES', 'FEMALES', 'FHH_CHILD', 'FID', 'FIPS',
       'HAWN_PI', 'HISPANIC', 'HOUSEHOLDS', 'HSEHLD_1_F', 'HSEHLD_1_M',
       'HSE_UNITS', 'MALES', 'MARHH_CHD', 'MARHH_NO_C', 'MED_AGE', 'MED_AGE_F',
       'MED_AGE_M', 'MHH_CHILD', 'MULT_RACE', 'NAME', 'NO_FARMS12', 'OBJECTID',
       'OTHER', 'OWNER_OCC', 'POP10_SQMI', 'POP2010', 'POPULATION', 'POP_SQMI',
       'RENTER_OCC', 'SHAPE', 'SQMI', 'STATE_FIPS', 'STATE_NAME', 'Shape_Area',
       'Shape_Leng', 'Shape__Area', 'Shape__Length', 'VACANT', 'WHITE'],
      dtype='object')

In [20]:
cols_2 = ['NAME', 'OBJECTID', 'POPULATION', 'POP_SQMI',
          'SHAPE', 'SQMI', 'STATE_FIPS', 'STATE_NAME', 'Shape_Area',
          'Shape_Leng', 'Shape__Area', 'Shape__Length']
overlap_rows = pd.merge(left = counties_fset.sdf[cols_2], right = new_df, how='inner',
                        on = 'NAME')
overlap_rows.head()

,NAME,OBJECTID,POPULATION,POP_SQMI,SHAPE,SQMI,STATE_FIPS,STATE_NAME,Shape_Area,Shape_Leng,...,Shape__Length,DATE,COUNTY,ACRES,STRUCTURES,DEATHS,ID,FIRE NAME,CAUSE,STATE
0,Monterey,34,431696,130.2,"{'rings': [[[-13520087.6809747, 4283419.790017...",3314.42,06,California,0.860396,6.495277,...,7.926464e+05,July 1977,Monterey,177866,0,0.0,1,1MARBLE CONE,Lightning,CA
1,Monterey,34,431696,130.2,"{'rings': [[[-13520087.6809747, 4283419.790017...",3314.42,06,California,0.860396,6.495277,...,7.926464e+05,June 2008,Monterey,162818,58,0.0,1,3BASIN COMPLEX,Lightning,CA
2,Ventura,38,861790,464.1,"{'rings': [[[-13306531.4673448, 3933240.934103...",1857.01,06,California,0.471859,3.916199,...,4.811731e+05,September 1932,Ventura,220000,0,0.0,8,MATILIJA,Undetermined,CA
3,Ventura,38,861790,464.1,"{'rings': [[[-13306531.4673448, 3933240.934103...",1857.01,06,California,0.471859,3.916199,...,4.811731e+05,September 2006,Ventura,162702,11,0.0,1,4DAY FIRE,Human Related,CA
4,Los Angeles,39,10275545,2514.1,"{'rings': [[[-13149456.875, 3995666.875], [-13...",4087.19,06,California,1.036926,8.423152,...,1.020462e+06,August 2009,Los Angeles,160557,209,2.0,1,5STATION,Human Related,CA

## Step 5. Draw the top 20 impacted counties

We now can draw the top 20 impacted counties, represented by the merged output DataFrame `overlap_rows`, with the API method `DataFrame.spatial.plot()`.

In [15]:
map1 = gis.map('USA')
map1.layout.height = '650px'
map1.legend = True
map1

In [22]:
map1.clear_graphics()
overlap_rows.spatial.plot(kind='map', map_widget=map1,
                          renderer_type='c',  # for class breaks renderer
                          method='esriClassifyNaturalBreaks',  # classification algorithm
                          class_count=7,  # choose the number of classes
                          col='ACRES',  # numeric column to classify
                          cmap='hot',  # color map to pick colors from for each class
                          alpha=0.7  # specify opacity
                         )

True

Besides viewing the top 20 impacted counties in the notebook's map widget, we can also save it as a web map, or then export the web map to a PDF output again.

In [24]:
item_properties = {
    "title": "Top 20 largest Wildfires in California",
    "tags" : "wildfire",
    "snippet": "read pdf and export pdf",
    "description": "test description"
}
item = map1.save(item_properties)
item

## Step 6. Export to PDF

If you would also like to export the fire impacting counties into a PDF map, the required steps are: (1) obtain the web map json via the `Item.get_data()` API method, (2) modify the web map json to also include `exportOptions` and `mapOptions`, and (3) use `arcgis.mapping.export_map()` to get the PDF deliverable of the web map.

In [25]:
webmap_json = item.get_data()
webmap_json.keys()

dict_keys(['baseMap', 'spatialReference', 'version', 'authoringApp', 'authoringAppVersion', 'operationalLayers'])

Based on <a href="https://enterprise.arcgis.com/en/server/latest/create-web-apps/windows/exportwebmap-specification.htm">webmap spec</a>, the `mapOptions` and `exportOptions` also need to be specified for the json input. Here, the `extent` and `scale` are chosen based on the extents of the California State <a href="#References">[2]</a>.

In [26]:
webmap_json['mapOptions'] = {
    "extent" : {
        "xmin": -14787899.07992277,
        "ymin": 4631332.839146857,
        "xmax": -11906528.861685533,
        "ymax": 5286856.793720354,
        "spatialReference": {
            "latestWkid": 3857,
            "wkid": 102100
        }
    },
    "scale" : 9244648.868618,
    "spatialReference" : {
        "wkid" : 102100
    }
}

In [27]:
webmap_json['exportOptions'] = { "dpi" : 96,
                                 "outputSize" :  [746, 575]
                               }

Finally, we used <a href="https://developers.arcgis.com/python/api-reference/arcgis.mapping.html?highlight=export#arcgis.mapping.export_map">`export_map`</a> method to create a PDF output of the web map item <a href="#References">[3]</a>.

In [30]:
from arcgis.mapping import export_map
res = export_map(web_map_as_json=webmap_json, format='PDF', layout_template='MAP_ONLY')
res["url"]

'https://<your online org>/arcgis/rest/directories/arcgisoutput/Utilities/PrintingTools_GPServer/x_____xyrGnNUv1ZiB3czjYFv6cOQ..x_____x_ags_5136d180-00da-11ea-a00c-22000a457ff9.pdf'

The `res["url"]` shown above points to the URL address of the exported map which displays the top 20 most impacted counties in California by wildfire. If interested in creating more fun maps from the PDF files provided by **CAL FIRE**, you can repeat the previously done workflow with two other links stored in variable `pdf_url_list`.

## References

[1] https://www.fire.ca.gov/stats-events/

[2] https://enterprise.arcgis.com/en/server/latest/create-web-apps/windows/exportwebmap-specification.htm

[3] https://developers.arcgis.com/python/api-reference/arcgis.mapping.html?highlight=export#arcgis.mapping.export_map